@using Dominio

@{
	ViewBag.Title = "Registro";
}

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger text-center">@ViewBag.Error</div>
}

<div class="card-contenedor d-flex justify-content-center align-items-center">
    <div class="card card-registro">
        <form method="post" action="~/Cliente/Registro" class="registro-form">
            <h5 class="card-header text-center registro-header">
                Te damos la bienvenida a Aero.
            </h5>
            <div class="card-body card-body-registro">

                <div class="grupo-input mb-2 w-75">
                    <small class="form-text text-muted">Ingrese su correo electrónico</small>
                    <input type="email" name="correo" class="form-control input-registro" placeholder="Ej: juan.perez@mail.com" />
                </div>

                <div class="grupo-input mb-2 w-75">
                    <small class="form-text text-muted">Cree una contraseña segura</small>
                    <input type="password" name="password" class="form-control input-registro" placeholder="Ej: ********" />
                </div>

                <div class="grupo-input mb-2 w-75">
                    <small class="form-text text-muted">Ingrese su nombre completo</small>
                    <input type="text" name="nombre" class="form-control input-registro" placeholder="Ej: Juan Pérez" />
                </div>

                <div class="grupo-input mb-2 w-75">
                    <small class="form-text text-muted">Ingrese su número de documento</small>
                    <input type="text" name="documento" class="form-control input-registro" placeholder="Ej: 55512345" />
                </div>

                <div class="grupo-input mb-3 w-75">
                    <small class="form-text text-muted">Ingrese su nacionalidad</small>
                    <input type="text" name="nacionalidad" class="form-control input-registro" placeholder="Ej: Uruguaya" />
                </div>

                <button type="submit" class="btn btn-primary btn-registro">Registrarse</button>

                <div class="text-center mt-1 form-group w-100">
                    <small>¿Ya tenés cuenta? <a href="~/Home/Index">Iniciá sesión</a></small>
                </div>
            </div>
        </form>
    </div>
</div>
